bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Builds
*.apk
*.aab
*.unitypackage

# add by xiaodou
.vsconfig
.idea
.vscode
/[Bb]uild
